{% load static %}
<div class="row">
	<div class="col-5">
		<h3>Chat GPT</h3>

		<p class="mt-4">This study uses your Chat GPT data to do X, Y, and Z.</p>

		<p>Please follow the instructions on the right to request your data.</p>
	</div>
	<div class="col-7 pb-5">
		<h3>Instructions</h3>

		<h5 class="mt-4">1. Login to Chat GPT.</h5>

		<p><em>TODO: Write instructions</em></p>

		<p>
			After Chat GPT compiles your data file, it will send you an e-mail with a link and notify you within Facebook that your data is ready to be downloaded.
			Follow the provided instructions to retrieve your file.
		</p>

		<p>
			Once you have downloaded your file, follow the instructions in the e-mail you receive from us for a link and instructions for to upload your data to the study.
		</p>
	</div>
</div>