{% load static from staticfiles %}
<div class="row">
	<div class="col-5">
		<h3>Snapchat</h3>
		
		<p class="mt-4">This study uses your Snapchat data to do X, Y, and Z.</p>
		
		<p>Please follow the instructions on the right to request your data.</p>
	</div>
	<div class="col-7 pb-5">
		<h3>Instructions</h3>
		
		<h5 class="mt-5">1. Navigate to data request page.</h5>
		
		<p>Visit <a href="https://accounts.snapchat.com/accounts/downloadmydata" target="_blank">your Snapchat data page</a> to begin the data download process. (You may be prompted to login if needed.)</p>
		
		<p>
			At the bottom of the page, select the <strong>SUBMIT REQUEST</strong> button.
			Snapchat will begin compiling your data and inform you that you will receive an e-mail when the data is ready.
		</p>
		
		<h5 class="mt-5">2. Read e-mail notification.</h5>
		
		<p>
			After Twitter has finished compiling your data archive, you will receive an e-mail with a link to your data.
		</p>

		<center>
			<a href="{% static 'pdk_external/assets/snapchat/snapchat_email.jpg' %}" data-toggle="lightbox">
                <img src="{% static 'pdk_external/assets/snapchat/snapchat_email.jpg' %}" class="img-fluid rounded border mb-3" style="width: 66%;" alt="Snapchat E-Mail">
            </a>
		</center>

		<p>Select the <strong>click here</strong> link to continue.</p>

		<h5 class="mt-5">3. Download your data.</h5>
		
		<p>
			In the browser, download your data by selecting the link to the right of the <strong>Your Data is Ready</strong> column.
		</p>

		<p>Once you have downloaded your file, follow the instructions in the e-mail you receive from us for a link and instructions for to upload your data to the study.</p>
	</div>
</div>