{% extends "pdk_external_request_base.html" %}
{% load passive_data_kit_external_data %}

{% block 'page_title' %}{{ source.name }}{% endblock %}

{% block 'page_content_title' %}{{ source.name }}{% endblock %}

{% block 'page_content' %}
	{% fetch_source_instructions source %}
	<div class="row">
		<div class="col-sm">
			
            <form method="POST" action="{% url 'pdk_external_request_data' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary float-right">Next</button>
            </form>
		</div>
	</div>
{% endblock %}
