{% extends "pdk_external_request_base.html" %}
{% load static from staticfiles %}

{% block 'page_title' %}E-Mail Opt Out | Passive Data Kit{% endblock %}

{% block 'page_content_title' %}E-Mail Opt Out | Passive Data Kit{% endblock %}

{% block 'page_navbar_links' %}{% endblock %}

{% block 'page_content' %}
	{% if request.method == 'GET' %}
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<p>
					To cancel e-mail reminders, tap the button below.
				</p>
			
				<p>
					You will no longer receive reminder e-mails in the future.
				</p>
				<form method="POST" action="{% url 'pdk_external_email_opt_out' data_request.token %}" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="token" value="{{ data_request.token }}" />
				
					<button type="submit" class="btn btn-primary float-right">Cancel E-Mail Reminders</button>
				</form>
			</div>
			<div class="col">
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-sm">
				<p>
					Your e-mail reminders have been cancelled.
				</p>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block 'js_init' %}		
	<script data-main="{% static 'pdk_external/email_opt_out.js' %}" src="{% static 'pdk_external/lib/require.js' %}"></script>
{% endblock %}
